In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [2]:
company_data=pd.read_csv("D:/data_structure/random_forest/Company_Data.csv")
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
company_data.shape

(400, 11)

In [4]:
company_data.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [5]:
company_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [6]:
company_data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [7]:
#Applying encoding for catogorical Data
labelencoder=LabelEncoder()
company_data['ShelveLoc']= labelencoder.fit_transform(company_data['ShelveLoc'])
company_data['Urban']= labelencoder.fit_transform(company_data['Urban'])
company_data['US']= labelencoder.fit_transform(company_data['US'])

In [8]:
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1
397,7.41,162,26,12,368,159,2,40,18,1,1
398,5.94,100,79,7,284,95,0,50,12,1,1
399,9.71,134,37,0,27,120,1,49,16,1,1

In [9]:
#Average Sales
company_data['Sales'].mean()

7.496325

# As a cloth manufacturing company is interested to know about the segment or attributes causes high sale,so trying to divide the high sales and low sales

In [10]:
company_data.loc[company_data['Sales']>=7.49, 'sales']='High'
company_data.loc[company_data['Sales']<7.49,'sales']='Low'
company_data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales
0,9.50,138,73,11,276,120,0,42,17,1,1,High
1,11.22,111,48,16,260,83,1,65,10,1,1,High
2,10.06,113,35,10,269,80,2,59,12,1,1,High
3,7.40,117,100,4,466,97,2,55,14,1,1,Low
4,4.15,141,64,3,340,128,0,38,13,1,0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,High
396,6.14,139,23,3,37,120,2,55,11,0,1,Low
397,7.41,162,26,12,368,159,2,40,18,1,1,Low
398,5.94,100,79,7,284,95,0,50,12,1,1,Low
399,9.71,134,37,0,27,120,1,49,16,1,1,High

# Splitting the dataset into Training and Testing parts

In [11]:
x= company_data.iloc[:,1:-1]
x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1
396,139,23,3,37,120,2,55,11,0,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,0,50,12,1,1
399,134,37,0,27,120,1,49,16,1,1

In [12]:
y=company_data['sales']
y

0      High
1      High
2      High
3       Low
4       Low
       ...
395    High
396     Low
397     Low
398     Low
399    High
Name: sales, Length: 400, dtype: object

In [13]:
y.value_counts()

High    201
Low     199
Name: sales, dtype: int64

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=0)

In [15]:
x_train.shape,y_train.shape

((320, 10), (320,))

In [16]:
y_test.shape,y_test.shape

((80,), (80,))

# Model Building

In [17]:
kfold = KFold(n_splits=100,shuffle=True)
model = RandomForestClassifier(n_estimators=50, max_features=4)
results_rfc = cross_val_score(model, x, y, cv=kfold)
print(results_rfc.mean()*100)

NameError: name 'KFold' is not defined

In [ ]:
model.fit(x_train,y_train)

In [ ]:
#predicting the model
y_train_pred=classifier.predict(x_train)
y_test_pred= classifier.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_train_pred,y_train)

In [ ]:
accuracy_score(y_test_pred,y_test)

In [ ]:
result1 = classification_report(y_test,y_test_pred)
print('Classification Report:')
print(result1)
result2= confusion_matrix(y_test,y_test_pred)
print('Confusion Matrix:')
print(result2)

# Inference:
The accuracy of training data is 100% but the accurary of testing data is 82%

# BIAS - VARIANCE
Training Error/Accuracy - Bias
Test Error/Accuracy - Variance.
Model Overfitting - Less Bias and High Variance.

Model Underfitting - High Bias and Less Variance.

EXPECTED MODEL -- GENERALIZED MODEL - Less Bias and Less Variance.

So, there is always a Tradeoff maintaned between Bias and Variance.

# Here my model is overfitting

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
#Adaboost Classifier
kfold = KFold(n_splits=100)
model1 = AdaBoostClassifier(n_estimators=100)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

In [ ]:
model1.fit(x_train,y_train)

In [ ]:
y_pred=model1.predict(x_test)

In [ ]:
accuracy_score(y_pred,y_test)

In [ ]:
#Accuracy has increased from 82% to 85%